
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}


/* CSS for the loader */
/*.load-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

    .load-wrapper img {
        width: 30%;*/ /* Adjust the width and height to match your loader's size */
        /*height: 30%;
    }*/

/*End Loader*/


.container {
    max-width: 1300px;
    padding: 0px 100px;
    margin: auto;
    z-index: 10;
}

.text-secondary {
    color: #DFFF00;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 32px;
    margin-bottom: 12px;
}

/* .menu-btn{
    color: #fff;
    cursor: pointer;
    display: none;
} */

/* .list{
    margin: 16px 0;
    list-style: none;
}

.list li{
    padding: 8px 0;
}

.list li span{
    padding-left: 50px;
} */

.btn-md {
    display: inline-block;
    background: #DFFF00;
    color: #08080A;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid #DFFF00;
    transition: all 0.3s ease;
}

    .btn-md:hover {
        color: #DFFF00;
        background: none;
    }

#hireButton.disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

    #hireButton.disabled::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #95a5a6;
        color: #fff;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    #hireButton.disabled:hover::after {
        opacity: 1;
        visibility: visible;
    }

.disabled-text-container {
    position: relative;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    color: #DFFF00;
    padding: 10px; /* Add padding to create space around the text */
    overflow: hidden; /* Hide overflow content */
    width:380px;
    font-size:25px;
}

.title::before {
    content: '';
    background: #07080B;
    height: 2px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}

.title::after {
    content: '';
    background: #07080B;
    height: 7px;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(1px);
}

/*.showcase {
    background-image: url('./images/pxfuel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}*/

.intro{
    background-color:black;
    position:relative;
    z-index:1;
}

.showcase {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#backgroundShow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}
.navbar {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

    .navbar.sticky {
        padding: 10px 100px;
        background: #07080B;
    }

    .navbar .logo {
        color: #DFFF00;
        font-size: 30px;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        font-size: 13px;
        text-transform: uppercase;
    }

        .navbar ul li span {
            color: #DFFF00;
            border-left: 1px solid #A9ADB8;
            padding-left: 25px;
            padding-right: 5px;
            text-align: center;
        }

        .navbar ul li a {
            color: #A9ADB8;
            font-weight: bold;
            transition: all 0.5s ease;
        }

            .navbar ul li a:hover {
                color: #DFFF00;
            }

/* Showcase content section */
.showcase-text {
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
}

    .showcase-text .text-1 {
        font-size: 27px;
    }

    .showcase-text .text-2 {
        font-size: 75px;
        font-weight: 700;
    }

    .showcase-text .text-3 {
        font-size: 40px;
        margin: 5px 0;
        font-weight: 700;
    }

        .showcase-text .text-3 span {
            color: #DFFF00;
        }

.showcase-img img {
    position: absolute;
    top: 10rem;
    bottom: 8rem;
    right: 8rem;
    width: 45%;
    height: 70%;
    object-fit: cover;
    opacity: 0.6;
    overflow: hidden;
}



/* About section content */

#about {
    background: #07080B;
}

.about .title::before {
    background: #DFFF00;
}

.about .title::after {
    background: #DFFF00;
}

.about h1 {
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5 {
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content .column {
    margin-top: 40px;
}

.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}

    .about .about-content .left {
        width: 50%;
        padding: 0 20px;
        overflow: hidden;
        /* Center the content */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .about-content .right {
        width: 45%;
        color: #A9ADB8;
    }

        .about .about-content .right .text {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .about .about-content .right p {
            text-align: justify;
        }

        .about .about-content .right .text span {
            color: #DFFF00;
        }

        .about .about-content .right .table {
            width: 500px;
            padding: 10px 0;
            margin-left: 0px;
        }

            .about .about-content .right .table td {
                padding: 10px;
            }

.certification-container {
    width: 100%; /* Set the desired width of the container */
    height: 400px; /* Automatically adjust the height based on the content */
    overflow: hidden; /* Hide any overflow content */
}

/* Make the SVG element responsive */
.certifications {
    height: 300px;
}

.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0.7));
        opacity: 1;
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(0, 0, 255, 0.7));
        opacity: 0.8;
    }

    100% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0.7));
        opacity: 1;
    }
}

.certifications.glowing {
    animation: glow 1s infinite;
}


/* Services section styling */

#services {
    color: #A9ADB8;
    background: #DFFF00;
}

.services h5 {
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.services h1 {
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.services .service-content .main {
    width: calc(30% - 20px);
    min-height: 450px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.service {
    background: #07080B;
    padding: 5%;
    border-radius: 1em;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 0 5% -3% #07080B;
    transition: transform 0.8s;
}

.service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #07080B;
    border: 18px solid #DFFF00;
}

    .service-logo i {
        color: #DFFF00;
        width: 50px;
        margin-top: 20px;
    }

.service h4 {
    height: 28px;
    width: 80%;
    background: #07080B;
    margin: 60px auto;
    position: relative;
}

    .service h4::after {
        content: '';
        width: 40px;
        height: 30px;
        background: linear-gradient(to right, #07080B, #DFFF00 );
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: -1;
    }

    .service h4::before {
        content: '';
        width: 40px;
        height: 30px;
        background: linear-gradient(to right, #DFFF00, #07080B);
        position: absolute;
        left: -5px;
        bottom: -5px;
        z-index: -1;
    }

.shadowone {
    height: 200px;
    width: 80%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}

.shadowtwo {
    height: 200px;
    width: 64%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service {
    transform: translateY(-50px);
}

.main:hover .shadowone {
    transform: translateY(-25px);
}

/* My Skills Section */

#skills {
    background: #07080B;
}

.skills h1 {
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.skills h5 {
    font-weight: 700;
    transform: translateY(-65px);
}

.skills .title::before {
    background: #DFFF00;
}

.skills .title::after {
    background: #DFFF00;
}

.skills .skill-content .column {
    margin-top: 40px;
    width: calc(50% - 50px);
}

.skills .skill-content .left .text {
    font-size: 27px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #DFFF00;
}

.skills .skill-content .left p {
    color: #A9ADB8;
    text-align: justify;
    line-height: 1.4;
    padding-top: 15px;
}

.skills .skill-content .left a {
    display: inline-block;
    background: #DFFF00;
    color: #07080B;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #DFFF00;
    transition: all 0.3s ease;
}

    .skills .skill-content .left a:hover {
        color: #DFFF00;
        background: none;
    }

.skills .skill-content .right .bars {
    margin-bottom: 20px;
}

.skills .skill-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    color: #A9ADB8;
}

.skills .skill-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skill-content .right .line {
    height: 2px;
    width: 100%;
    background: lightgray;
    position: relative;
}

    .skills .skill-content .right .line::before {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background: #DFFF00;
    }

.skills .skill-content .right .java::before {
    width: 90%;
}

.skills .skill-content .right .sql::before {
    width: 95%;
}

.skills .skill-content .right .tabl::before {
    width: 70%;
}

.skills .skill-content .right .mdb::before {
    width: 90%;
}

.skills .skill-content .right .html::before {
    width: 95%;
}

.skills .skill-content .right .apt::before {
    width: 90%;
}

/* Team section styling */

#teams {
    color: #A9ADB8;
    background: #DFFF00;
}

.teams h5 {
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.teams h1 {
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.teams .carousel .card {
    background: #07080B;
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

    .teams .carousel .card:hover {
        background: #15151a;
    }

    .teams .carousel .card .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .teams .carousel .card:hover .box {
        transform: scale(1.05);
    }

    .teams .carousel .card .text {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0 7px 0;
    }

    .teams .carousel .card img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #DFFF00;
        transition: all 0.3s ease;
    }

    .teams .carousel .card:hover img {
        border-color: #fff;
    }

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background: #07080B !important;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #07080B;
    transition: all 0.3s ease;
}

/* Default link color */
.publication-link {
    color: blue;
    text-decoration: none;
}

    /* Link color on hover */
    .publication-link:hover {
        color: red;
    }

    /* Link color after click */
    .publication-link:visited {
        color: #DFFF00;
    }


/* Contact Me Section */

section {
    padding: 40px 0;
    background: #07080B;
}

.contact h1 {
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.contact h5 {
    font-weight: 700;
    transform: translateY(-65px);
}

.contact .title::before {
    background: #DFFF00;
}

.contact .title::after {
    background: #DFFF00;
}

.contact .contact-content .column {
    margin-top: 40px;
    width: calc(50% - 50px);
}

.contact .contact-content .left h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #A9ADB8;
}

.contact .contact-content .left .form-group input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #A9ADB8;
    background: #fff;
    border-radius: 5px;
}

.contact .contact-content .left .form-group textarea {
    width: 100%;
    background: #fff;
    padding: 10px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
}

.contact .contact-content .left .btn-md {
    padding: 8px 18px;
    font-size: 16px;
}

.contact .contact-content .right {
    color: #A9ADB8;
}

    .contact .contact-content .right h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .contact .contact-content .right p {
        line-height: 1.6;
    }

    .contact .contact-content .right .items {
        margin: 10px 0;
    }

        .contact .contact-content .right .items .item {
            display: flex;
            align-items: center;
            padding: 10px 0;
        }

            .contact .contact-content .right .items .item i {
                padding: 16px;
                border: 1px solid #A9ADB8;
                border-radius: 50%;
                margin-right: 20px;
            }

            .contact .contact-content .right .items .item span {
                font-size: 14px;
            }

    .contact .contact-content .right .links {
        overflow: hidden;
        padding: 10px 0;
    }

        .contact .contact-content .right .links li {
            display: inline-block;
            list-style: none;
            padding-right: 15px;
        }

            .contact .contact-content .right .links li a {
                color: #A9ADB8;
                text-decoration: none;
                transition: all 0.3s ease;
            }

                .contact .contact-content .right .links li a:hover {
                    color: #DFFF00;
                }

#footer {
    text-align: center;
    background: #DFFF00;
    padding: 30px 0;
    color: #07080B;
    font-weight: 700;
}


/* Scroll up styling */
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #07080B;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

    .scroll-up-btn.show {
        opacity: 1;
        pointer-events: auto;
        bottom: 30px;
    }



@media only screen and (min-device-width: 320px) and (max-device-width: 930px) and (-webkit-min-device-pixel-ratio: 2) {
    .navbar {
        display: none;
        position: fixed;
        width: 100%;
        margin: auto;
        padding: 35px 100px;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
    }

    .showcase-text {
        max-width: 100%;
        padding-top: 50px;
        padding-left: 20px;
        color: #fff;
    }

        .showcase-text .text-3 {
            font-size: 35px;
            margin: 5px 0;
            font-weight: 700;
        }

    .btn-md {
        display: inline-block;
        background: #DFFF00;
        color: #08080A;
        font-size: 25px;
        font-weight: bold;
        padding: 8px 36px;
        margin-top: 20px;
        border-radius: 50px;
        border: 2px solid #DFFF00;
        transition: all 0.3s ease;
    }

    .showcase-img img {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55%;
        height: 54%;
        object-fit: scale-down;
        opacity: 0.6;
        overflow: hidden;
    }

    .container {
        max-width: 100%;
        padding: 0px 10px;
    }


    /* About section content */

    #about {
        background: #07080B;
    }

    .about .title::before {
        background: #DFFF00;
    }

    .about .title::after {
        background: #DFFF00;
    }

    .about h1 {
        color: #6e6e70;
        text-align: center;
        font-size: 80px;
        transform: translateY(20px);
        opacity: 0.1;
        padding-top: -20px;
    }

    .about h5 {
        font-weight: 700;
        transform: translateY(-65px);
    }

    .about .about-content .column {
        margin-top: 40px;
    }

    .about .about-content,
    .services .service-content,
    .skills .skill-content,
    .contact .contact-content {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-60px);
    }

        .about .about-content .left {
            display: none;
            width: 55%;
            padding: 0 20px;
            overflow: hidden;
        }

            .about .about-content .left img {
                height: 450px;
                width: 450px;
                object-fit: cover;
                border-radius: 50%;
            }

        .about .about-content .right {
            width: 100%;
            color: #A9ADB8;
        }

            .about .about-content .right .text {
                font-size: 37px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .about .about-content .right p {
                text-align: left;
            }

            .about .about-content .right .text span {
                color: #DFFF00;
            }

            .about .about-content .right .table {
                width: 500px;
                padding: 10px 0;
                margin-left: 0px;
            }

                .about .about-content .right .table td {
                    padding: 10px 0px 10px;
                }

    #services {
        display: none;
        color: #A9ADB8;
        background: #DFFF00;
    }

    .scroll-up-btn {
        display: none;
        position: fixed;
        height: 45px;
        width: 42px;
        border: 1px solid #fff;
        background: #07080B;
        right: 30px;
        bottom: 10px;
        text-align: center;
        line-height: 45px;
        color: #fff;
        z-index: 9999;
        font-size: 30px;
        border-radius: 6px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    /* My Skills Section */

    #skills {
        background: #07080B;
    }

    .skills h1 {
        color: #6e6e70;
        text-align: center;
        font-size: 80px;
        transform: translateY(20px);
        opacity: 0.1;
        padding-top: -20px;
    }

    .skills h5 {
        font-weight: 700;
        transform: translateY(-65px);
    }

    .skills .title::before {
        background: #DFFF00;
    }

    .skills .title::after {
        background: #DFFF00;
    }

    .skills .skill-content .column {
        margin-top: 40px;
        width: 100%;
    }

    .skills .skill-content .left .text {
        font-size: 27px;
        font-weight: 700;
        padding: 10px 0;
        margin-bottom: 10px;
        color: #DFFF00;
    }

    .skills .skill-content .left p {
        color: #A9ADB8;
        text-align: justify;
        line-height: 1.4;
        padding-top: 15px;
    }

    .skills .skill-content .left a {
        display: inline-block;
        background: #DFFF00;
        color: #07080B;
        font-size: 18px;
        font-weight: 700;
        padding: 8px 16px;
        margin-top: 20px;
        border-radius: 5px;
        border: 2px solid #DFFF00;
        transition: all 0.3s ease;
    }

        .skills .skill-content .left a:hover {
            color: #DFFF00;
            background: none;
        }

    .skills .skill-content .right .bars {
        margin-bottom: 20px;
    }

    .skills .skill-content .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
        color: #A9ADB8;
    }

    .skills .skill-content .right span {
        font-weight: 500;
        font-size: 18px;
    }

    .skills .skill-content .right .line {
        height: 2px;
        width: 100%;
        background: lightgray;
        position: relative;
    }

        .skills .skill-content .right .line::before {
            content: '';
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: #DFFF00;
        }

    .skills .skill-content .right .java::before {
        width: 90%;
    }

    .skills .skill-content .right .sql::before {
        width: 95%;
    }

    .skills .skill-content .right .tabl::before {
        width: 70%;
    }

    .skills .skill-content .right .mdb::before {
        width: 90%;
    }

    .skills .skill-content .right .html::before {
        width: 95%;
    }

    .skills .skill-content .right .apt::before {
        width: 90%;
    }


    section {
        padding: 40px 0;
        background: #07080B;
    }

    .contact h1 {
        color: #6e6e70;
        text-align: center;
        font-size: 80px;
        transform: translateY(20px);
        opacity: 0.1;
        padding-top: -20px;
    }

    .contact h5 {
        font-weight: 700;
        transform: translateY(-65px);
    }

    .contact .title::before {
        background: #DFFF00;
    }

    .contact .title::after {
        background: #DFFF00;
    }

    .contact .contact-content .column {
        margin-top: 40px;
        width: 100%;
    }


    .contact .contact-content .left h2 {
        display: none;
        font-size: 30px;
        margin-bottom: 30px;
        color: #A9ADB8;
    }

    .contact .contact-content .left .form-group input {
        display: none;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        border: 1px solid #A9ADB8;
        background: #fff;
        border-radius: 5px;
    }

    .contact .contact-content .left .form-group textarea {
        display: none;
        width: 100%;
        background: #fff;
        padding: 10px;
        height: 150px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .contact .contact-content .left .btn-md {
        display: none;
        padding: 8px 18px;
        font-size: 16px;
    }

    .contact .contact-content .right {
        color: #A9ADB8;
    }

        .contact .contact-content .right h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }

        .contact .contact-content .right p {
            line-height: 1.6;
        }

        .contact .contact-content .right .items {
            margin: 10px 0;
        }

            .contact .contact-content .right .items .item {
                display: flex;
                align-items: center;
                padding: 10px 0;
            }

                .contact .contact-content .right .items .item i {
                    padding: 16px;
                    border: 1px solid #A9ADB8;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .contact .contact-content .right .items .item span {
                    font-size: 14px;
                }

        .contact .contact-content .right .links {
            overflow: hidden;
            padding: 10px 0;
        }

            .contact .contact-content .right .links li {
                display: inline-block;
                list-style: none;
                padding-right: 15px;
            }

                .contact .contact-content .right .links li a {
                    color: #A9ADB8;
                    text-decoration: none;
                    transition: all 0.3s ease;
                }

                    .contact .contact-content .right .links li a:hover {
                        color: #DFFF00;
                    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .navbar {
        display: block;
        position: fixed;
        width: 100%;
        margin: auto;
        padding: 10px 24px;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
    }

        .navbar.sticky {
            padding: 10px 100px;
            background: #07080B;
        }

        .navbar .logo {
            color: #DFFF00;
            font-size: 30px;
        }

        .navbar ul li {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            font-size: 13px;
            text-transform: uppercase;
        }

            .navbar ul li span {
                color: #DFFF00;
                border-left: 1px solid #A9ADB8;
                padding-left: 25px;
                padding-right: 5px;
                text-align: center;
            }

            .navbar ul li a {
                color: #A9ADB8;
                font-weight: bold;
                transition: all 0.5s ease;
            }

                .navbar ul li a:hover {
                    color: #DFFF00;
                }

    .showcase-text {
        max-width: 100%;
        padding-top: 150px;
        padding-left: 20px;
        color: #fff;
    }

        .showcase-text .text-3 {
            font-size: 35px;
            margin: 5px 0;
            font-weight: 700;
        }

    .showcase-content {
        flex-direction: column; /* Change the layout to column on smaller screens */
    }

    .showcase-text {
        order: 2; /* Change the order to push the text below the image */
        margin-top: 20px; /* Add margin to create space between image and text */
    }

    .showcase-img {
        order: 1; /* Change the order to move the image above the text */
    }

    .btn-md {
        display: inline-block;
        background: #DFFF00;
        color: #08080A;
        font-size: 25px;
        font-weight: bold;
        padding: 8px 36px;
        margin-top: 20px;
        border-radius: 50px;
        border: 2px solid #DFFF00;
        transition: all 0.3s ease;
    }

    .showcase-img img {
        position: absolute;
        top: 20rem;
        bottom: 8rem;
        right: 8rem;
        width: 50%;
        height: 50%;
        object-fit: scale-down;
        opacity: 0.6;
        overflow: hidden;
    }

    .container {
        max-width: 100%;
        padding: 0px 10px;
    }


    /* About section content */

    #about {
        background: #07080B;
        height: 100vh;
    }

    .about .title::before {
        background: #DFFF00;
    }

    .about .title::after {
        background: #DFFF00;
    }

    .about h1 {
        color: #6e6e70;
        text-align: center;
        font-size: 80px;
        transform: translateY(20px);
        opacity: 0.1;
        padding-top: -20px;
    }

    .about h5 {
        font-weight: 700;
        transform: translateY(-65px);
    }

    .about .about-content .column {
        margin-top: 40px;
    }

    .about .about-content,
    .services .service-content,
    .skills .skill-content,
    .contact .contact-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-60px);
    }

        .about .about-content .left {
            display: block;
            width: 50%;
            padding: 0 20px;
            overflow: hidden;
        }

            .about .about-content .left img {
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 50%;
            }

        .about .about-content .right {
            width: 50%;
            color: #A9ADB8;
        }

            .about .about-content .right .text {
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .about .about-content .right p {
                text-align: left;
            }

            .about .about-content .right .text span {
                color: #DFFF00;
            }

            .about .about-content .right .table {
                width: 500px;
                padding: 10px 0;
                margin-left: 0px;
            }

                .about .about-content .right .table td {
                    padding: 10px 0px 10px;
                }

    #services {
        display: none;
        color: #A9ADB8;
        background: #DFFF00;
    }

    .scroll-up-btn {
        display: none;
        position: fixed;
        height: 45px;
        width: 42px;
        border: 1px solid #fff;
        background: #07080B;
        right: 30px;
        bottom: 10px;
        text-align: center;
        line-height: 45px;
        color: #fff;
        z-index: 9999;
        font-size: 30px;
        border-radius: 6px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    /* My Skills Section */

    #skills {
        background: #07080B;
        height: 100vh;
    }

    .skills h1 {
        color: #6e6e70;
        text-align: center;
        font-size: 90px;
        transform: translateY(20px);
        opacity: 0.1;
        padding-top: -20px;
    }

    .skills h5 {
        font-weight: 700;
        transform: translateY(-65px);
    }

    .skills .title::before {
        background: #DFFF00;
    }

    .skills .title::after {
        background: #DFFF00;
    }

    .skills .skill-content .column {
        margin-top: 40px;
        width: 100%;
    }

    .skills .skill-content .left .text {
        font-size: 30px;
        font-weight: 700;
        padding: 10px 0;
        margin-bottom: 10px;
        color: #DFFF00;
    }

    .skills .skill-content .left p {
        color: #A9ADB8;
        text-align: justify;
        line-height: 1.4;
        padding-top: 15px;
    }

    .skills .skill-content .left a {
        display: inline-block;
        background: #DFFF00;
        color: #07080B;
        font-size: 22px;
        font-weight: 700;
        padding: 8px 16px;
        margin-top: 20px;
        border-radius: 5px;
        border: 2px solid #DFFF00;
        transition: all 0.3s ease;
    }

        .skills .skill-content .left a:hover {
            color: #DFFF00;
            background: none;
        }

    .skills .skill-content .right .bars {
        margin-bottom: 20px;
    }

    .skills .skill-content .right .info {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
        color: #A9ADB8;
    }

    .skills .skill-content .right span {
        font-weight: 500;
        font-size: 22px;
    }

    .skills .skill-content .right .line {
        height: 2px;
        width: 100%;
        background: lightgray;
        position: relative;
    }

        .skills .skill-content .right .line::before {
            content: '';
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background: #DFFF00;
        }

    .skills .skill-content .right .java::before {
        width: 90%;
    }

    .skills .skill-content .right .sql::before {
        width: 95%;
    }

    .skills .skill-content .right .tabl::before {
        width: 70%;
    }

    .skills .skill-content .right .mdb::before {
        width: 90%;
    }

    .skills .skill-content .right .html::before {
        width: 95%;
    }

    .skills .skill-content .right .apt::before {
        width: 90%;
    }


    /* Team section styling */

    #teams {
        color: #A9ADB8;
        background: #DFFF00;
        height: 60vh;
    }

    section {
        padding: 40px 0;
        background: #07080B;
    }



    .contact h1 {
        color: #6e6e70;
        text-align: center;
        font-size: 80px;
        transform: translateY(20px);
        opacity: 0.1;
        padding-top: -20px;
    }

    .contact h5 {
        font-weight: 700;
        transform: translateY(-65px);
    }

    .contact .title::before {
        background: #DFFF00;
    }

    .contact .title::after {
        background: #DFFF00;
    }

    .contact .contact-content .column {
        margin-top: 0px;
        width: 100%;
    }


    .contact .contact-content .left h2 {
        display: none;
        font-size: 30px;
        margin-bottom: 30px;
        color: #A9ADB8;
    }

    .contact .contact-content .left .form-group input {
        display: none;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        border: 1px solid #A9ADB8;
        background: #fff;
        border-radius: 5px;
    }

    .contact .contact-content .left .form-group textarea {
        display: none;
        width: 100%;
        background: #fff;
        padding: 10px;
        height: 150px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .contact .contact-content .left .btn-md {
        display: none;
        padding: 8px 18px;
        font-size: 16px;
    }

    .contact .contact-content .right {
        color: #A9ADB8;
        text-align: center;
    }

        .contact .contact-content .right h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }

        .contact .contact-content .right p {
            line-height: 1.6;
        }

        .contact .contact-content .right .items {
            margin: 10px 0;
        }

            .contact .contact-content .right .items .item {
                display: inline-flex;
                align-items: flex-start;
                padding: 25px 25px;
                text-align: left;
            }

                .contact .contact-content .right .items .item i {
                    padding: 16px;
                    border: 1px solid #A9ADB8;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .contact .contact-content .right .items .item span {
                    font-size: 14px;
                }

        .contact .contact-content .right .links {
            overflow: hidden;
            padding: 10px 0;
        }

            .contact .contact-content .right .links li {
                display: inline-block;
                list-style: none;
                padding-right: 15px;
            }

                .contact .contact-content .right .links li a {
                    color: #A9ADB8;
                    text-decoration: none;
                    transition: all 0.3s ease;
                }

                    .contact .contact-content .right .links li a:hover {
                        color: #DFFF00;
                    }
}


/*cat*/



.container1 {
    margin: auto;
    width: 240px;
    height: 300px;
    position: relative;
}

.catBody {
    width: 180px;
    height: 150px;
    background-color: white;
    border-radius: 60px 0 50px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.catHead {
    width: 130px;
    height: 130px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 1;
    border-radius: 60px 60px 0 0;
}

.catTail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    border: 40px solid black;
    border-left: 40px solid white;
    position: absolute;
    bottom: -9px;
    left: 2px;
    transform: rotate(-20deg);
    z-index: -1;
}

.catTailEnd {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -15px;
    bottom: 98px;
}

.leftEye,
.rightEye {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 30%;
    left: 12%;
}

.rightEye {
    left: 58%;
}

.pupil {
    width: 65%;
    height: 65%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ears {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid white;
    border-bottom: 50px solid transparent;
    position: relative;
    bottom: 20px;
}

    .ears::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid white;
        border-bottom: 50px solid transparent;
        position: absolute;
        bottom: -50px;
        right: -30px;
    }

.nose {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ff55ac;
    position: absolute;
    bottom: 42%;
    right: 45%;
    z-index: 1;
}

.mouth1,
.mouth2 {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid white;
    border-bottom: 3px solid #ff55ac;
    border-radius: 50%;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 35%;
    right: 48.5%;
}

.mouth2 {
    transform: rotate(45deg);
    right: 39.2%;
}
